<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repositoryPath" class="com.doc.cloud.git.model.RepositoryPath">
        <property name="basePath" value="${base.path}"/>
    </bean>

    <bean id="gitRepository" class="com.doc.cloud.git.service.GitRepository">
    </bean>

</beans>