<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sqlServerSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis/mysql-sqlmap-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:mybatis/mappers/*.xml</value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage">
            <value>
                com.doc.cloud.user.dao,
                com.doc.cloud.base.dao,
                com.doc.cloud.git.dao
            </value>
        </property>
        <property name="sqlSessionFactoryBeanName" value="sqlServerSessionFactory" />
    </bean>

</beans>